<VirtualHost *:{{.Port}}>
  ServerAdmin webmaster@localhost
  ServerName {{.ServerName}}.{{.TLD}}
  DocumentRoot {{.DocumentRoot}}{{.ServerName}}

  ErrorLog /var/log/apache2/{{.ServerName}}.{{.TLD}}/error.log
  CustomLog /var/log/apache2/{{.ServerName}}.{{.TLD}}/access.log combined

  <Directory "{{.DocumentRoot}}{{.ServerName}}/">
    AllowOverride all
    Require all granted
  </Directory>
</VirtualHost>
